@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* shared styles */
*{
    margin: 0px;
}
.text{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.description{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

.btn{
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
border-radius: 42px;
background: rgb(230, 83, 60);
border: none;
cursor: pointer;
}

header{
    background: rgb(17, 17, 17)
    
}

nav li{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    padding-top: 55px;
}

nav ul {
    list-style: none;
    align-items: center;
    display: flex;
    margin-top: 30px;
    gap: 40px;
    box-sizing: border-box;
border: 1px solid rgba(127, 0, 0, 0.1);
border-radius: 39px;
padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
   
    color: white;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.banner-container{
    display: flex;
    justify-content:space-between;
}

.optional{
    box-sizing: border-box;
    width: 50%;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
color: white;
text-align: center;
padding: 10px;
position: absolute;
left: 50%;
top: 10%;
font-weight: 600;
font-family: Inter;
}

.optional1{
    
    top: 70%;
    right: 75%;
    box-sizing: border-box;
    width: 50%;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
color: white;
text-align: center;
padding: 10px;
position: absolute;
font-weight: 600;
font-family: Inter
;
display: flex;
}

/* change your habit */

.image-container{
    display: flex;
  justify-content: center;
  gap: 140px;

}

.image-container h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.image-container p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
text-align: center;

}


/* run an extra mile */

.run-container{
    display: flex;
    margin-top: 200px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 140px;
    
}

/* practice and exercise */


.row-1 {
    display: grid;
    grid-template-columns: 1fr 1.75fr 1fr;
    
}
.row img{
    width: 100%;
    height: 300px;
}
.row-2{
    display: grid;
    grid-template-columns: 0.9fr 0.6fr 0.7fr ;
}


.exercise{
    position: absolute;
    color: white;
    left: 4%;
    bottom: 10%;
}

.exercise1{
    position: absolute;
    color: white;
    left: 4%;
    bottom: 80%;
}

.bmi-container{

    background: rgb(34, 34, 34);
    width: 100%;
    
    padding: 100px 300px;
    display: flex;
    justify-content: center;
    height: auto;
    
}

table{
    border-collapse: collapse;
   margin-top: 70px;
}

td,th{
    border: 1px solid rgb(123, 103, 97);
    border-collapse: collapse;
    padding: 10px;
}
th{
    color: white;
    padding: 20px;
    text-align: left;
}
td{
    color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

input, select, option{
    color: rgba(255, 255, 255, 0.6);
font-family: Inter;
font-size: 16px;
font-weight: 400;
padding: 20px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
border: none;
margin-top: 20px;

}
.select{
    width: 24%;
}

.select1{
    width: 48%;
}

@media screen and (max-width:576px) {


    .banner-container,.image-container,.run-container{
     
        flex-direction: column;
    }

    .run-container{
        gap: 20px;
    }
    .image-container{
        align-items: center;
        gap: 20px;
    }

    .hamburger {
        display: block;
    }
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: white;
        width: 100%;
        text-align: center;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    }
    nav ul li {
        margin: 10px 0;
    }
    nav ul li a{
        color: black;
    }

    #menu-toggle:checked + .hamburger + ul {
        display: flex;
    }

    .optional1{
        left: 10%;
        
    }
    .text{
        font-size: 30px;
    }
    .row-1,.row-2{
        grid-template-columns: repeat(1,1fr);
    }
    .bmi-container{
        flex-direction: column;
        justify-content: left;
        padding: 0px;
        
    }
    .select,.select1{
        width: 80%;
    }
}